.popup{
    width: 100%;
    position: fixed;
    top : 0;
    left: 0;
    height: 100vh;
    background-color: rgba(238, 232, 232, 0.479);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner{
    background-color: white;
    position: relative;
    padding: 32px;
    width: 15%;
    border-radius: 10px ;
    border: black thin solid;
}

.btn{
    margin-left: 35%;
}



.addButton{
    margin-left: 10px;
    width: min-content;
    align-self: center;
    align-items: center;
}