.rightHead{
    display: grid;
    grid-template-columns: 50px auto 10px;
    grid-gap: 50px 10px;
    border-bottom: black thin solid;
    
}


.right-image{
    border-radius: 20%;
    margin: 3px 3px 3px 3px;
    height: 50px;
    width: 50px;
    
}


