.search{
    height: 10%;
    margin: 2% 2% 2% 2%;
    border-right-color: black;
    
}

.addButton{
    cursor: pointer;
    margin-left: 3%;
    margin-right: 3%;
}
.searchText{
    width: 70%;
    height: 70%;
    
}